{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My app</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

     <link href="/static/css/styles.css" rel="stylesheet">

</head>

<body>
<!--TopNavbar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><span class="logo">My_APP</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--SearchBar -->
            <form class="navbar-form navbar-left custom-search" role="search">
                <div class="form-group search-form">
                    <input type="text" class="form-control search" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default button-search">Create</button>
            </form>
            <!-- UserBlock -->
            <div class="userbar">
                <a href="#" class="userbar-user">Dr.Pepper</a>
                <div class="userbar-link">
                    <a href="#">Setting</a>
                    <a href="#">Log off</a>
                </div>
            </div>

        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--MAIN -->
<div class="container ">
    <!--START of MAIN row -->
    <!--LeftColumn -->
    <div class="col-md-8">
        {% block content %}{% endblock %}
    </div>
    <!--End of LeftColumn -->

</div><!-- /.container -->


</body>
</html>
