{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="row service">
    <div class="col-md-2 avatar-likes">
        <img src="{% static '/img/sun.jpg' %}" class="img-thumbnail" style="margin-top: 20px" width="90px">
    </div>
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}